#about {
    padding: 8rem;
    background: url(../assets/crystal.gif) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 45rem;
}

#about-container {
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
}

.about-text {
    padding: 2rem;
    color: white;
}

#about-title {
    @include header-text;
    letter-spacing: 0.4rem;
    text-align: right;
    text-shadow: 1vmin 1vmin 1.5vmin black;
}

#about-subtitle {
    @include subheading-text;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.8rem;
    text-shadow: 1vmin 1vmin 1.5vmin black;
}

#about-description {
    font-family: $font-2;
    width: 60%;
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 1vmin 1vmin .7vmin black;
}