@keyframes animated_text {
	0% { 
        background-position: 0px 50%; 
    }
	50% { 
        background-position: 100% 50%; 
    }
	100% { 
        background-position: 0px 50%; 
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
  }

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $primary-color, 0 0 40px $primary-color, 0 0 50px $primary-color, 0 0 60px #000000, 0 0 70px #000000;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px $primary-color, 0 0 40px $primary-color, 0 0 50px $primary-color, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
    }
}
