#collection {
    padding: 3rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(76,40,130,1) 50%, rgba(255,255,255,1) 100%);
    height: auto;
}

#collection-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.collection-title {
    color: black;
}

#collection-text h3 {
    font-family: $font-stack;
}

#c-main {
    font-size: 4rem;
}

#c-sub-1,
#c-sub-2 {
    font-size: 1.6rem;
}

iframe {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}