#collection {
    padding: 3rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(76,40,130,1) 50%, rgba(255,255,255,1) 100%);
    height: auto;
}

#collection-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.collection-title {
    color: black;
}

#c-main {
    @include header-text;
}

#c-sub-1,
#c-sub-2 {
    @include title-text;
}

iframe {
    @include blur;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe:hover {
    @include hover-to-unblur;
}