footer {
    display: grid;
    grid-template-columns: 30% 20% 50%;
}

footer > #socials > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social-icons {
    height: 20px;
    width: 20px;
}

//* https://www.youtube.com/watch?v=mrTwZmdfRVE *//