nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}

#navbar {
    padding: 2vmin;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    font-family: $font-stack;
    font-size: 2vmin;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5vmin;
    background-color: rgba(0, 0, 0, 0.55);
}

#navbar li {
    position: relative;
    transition: transform ease 0.3s;
}

#navbar li:hover {
    transform: translate(0, -15%);
}

#navbar li a:link, 
#navbar li a:visited {
    color: white;
    text-decoration: none;
}

#navbar li a:hover,
#navbar li a:active {
    color: white;
    text-shadow: 0 0 2vmin $primary-color, 0 0 4vmin white;
    transition-duration: 0.4s;
}

#logo {
    width: 35vmin;
    height: auto;
    filter: invert(100%);
}

.solid {
    border: 0.5px solid white;
}