#more-info {
    padding: 6rem;
    background-color: white;
}

#more-info h3 {
    font-family: $font-stack;
    font-size: 2.2rem;
    text-align: center;
    padding: 2rem;
    letter-spacing: .7rem;
    animation: fadeIn 6s ease-in-out infinite alternate;
}

#more-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.notes {
    padding: 1rem;
}

.note-inspo {
    height: 20rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.note-inspo:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.notes h4 {
    font-family: $font-stack;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
}

.notes p {
    font-family: $font-2;
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem;
}