#more-info {
    padding: 6rem;
    background-color: white;
}

#more-info h3 {
    @include subheading-text;
    text-align: center;
    padding: 2rem;
    letter-spacing: .7rem;
    animation: fadeIn 6s ease-in-out infinite alternate;
}

#more-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.notes {
    padding: 1rem;
}

.note-inspo {
    @include square-img;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    @include blur;
}

.note-inspo:hover {
    @include hover-to-unblur;
}

.notes h4 {
    @include title-text;
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
}

.notes p {
    @include description-text;
    text-align: justify;
    padding: 1rem;
}